/* the base css file */

body {
  margin: 0;
  font-family: 'Tahoma', 'Arial', 'Poppins', 'Century Old Style', 'Georgia', /*<- UNT Fonts*/
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    /*force grayscale antialiasing instead of subpixel rendering. For MacOS*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
